@font-face {
  src: url('../SeoulHangangB.ttf');
  src: url('../SeoulHangangEB.ttf');
  src: url('../SeoulHangangL.ttf');
  src: url('../SeoulHangangM.ttf');
  src: url('../SeoulNamsanB.ttf');
  src: url('../SeoulNamsanEB.ttf');
  src: url('../SeoulNamsanL.ttf');
  src: url('../SeoulNamsanM.ttf');
  src: url('../SeoulNamsanvery.ttf');
}
